{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
            {% if task in assigned %}
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due Date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date|date:"F j, Y" }}</td>
                        <td>{{ task.due_date|date:"F j, Y" }}</td>
                        <td>{{ task.is_completed|yesno }}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>You have no tasks</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}
