{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ project_detail.name }}</h1>
        <p>{{ project_detail.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        <table>
            <thead>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Is completed</th>
            </thead>
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.start_date|date:"F j, Y" }}</td>
                <td>{{ task.due_date|date:"F j, Y" }}</td>
                <td>{{ task.is_completed|yesno }}</td>
            </tr>
        </table>
    </div>
</main>
{% endblock content %}
